[Unit]
Description=Instrument Health Monitoring LIP Check service

[Service]
User=jupyter-admin
Environment=CHECK_MACHINE=lip.log
WorkingDirectory=/home/jupyter-admin/bdpoc-datahub
ExecStart=/home/jupyter-admin/bdpoc-datahub/.datahub/bin/python check_schedule.py -m LIP
Restart=on-failure

[Install]
WantedBy=multi-user.target
