* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	position: relative;
}

body {
	height: 100vh;
}

#root {
	width: 100%;
	height: 100%;
}

.table-container {
	width: 100%;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
}

th {
	background-color: rgb(200, 212, 227);
	outline: 1px solid white !important;
}

td {
	background-color: rgb(255, 255, 248);
	font-size: small !important;
}
