button:not([title="View fullscreen"]) {
	width: 100% !important;
}
div[data-testid="stExpander"] {
    position: sticky;
    top: 2px;
    background: white;
    z-index: 999991;
}
div.stAlert {
    position: fixed;
    z-index: 999992;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%)
}
#info {
    position: fixed;
    z-index: 999992;
    top: 2px;
    right: 0;
    padding: 10px;
    background: rgba(230,255,240,1);
    box-shadow: 1px 1px 5px 0px #888;
}
/*
#MainMenu {
	visibility: hidden;
}

footer {
	visibility: hidden;
}

header {
	visibility: hidden;
}
*/
