
button:not([title="View fullscreen"]) {
    width: 100% !important;
}
div[data-testid="stExpander"] {
    /*position: sticky;
    top: 2px;*/
    background: white;
    /*z-index: 999991;*/
}
div.stAlert {
    position: fixed;
    z-index: 999992;
    top: 0;
    left: 50vw;
    transform: translateX(-50%)
}
#info {
    position: fixed;
    z-index: 999992;
    top: 2px;
    right: 30px;
    padding: 10px;
    color: #888;
    /*
    position: fixed;
    z-index: 999992;
    top: 2px;
    right: 0;
    padding: 10px;
    background: rgba(230,255,240,1);
    box-shadow: 1px 1px 5px 0px #888;*/
}
#info > div {
    display: inline-block;
    margin-right: 1em;
}
#app-title {
    position: fixed;
    z-index: 9999992;
    color: #888;
    top: 10px;
    font-size: 18px;
    text-transform: uppercase;
    transform: translateX(-50px);
}
div.streamlit-expanderContent label {
    color: blue;
    font-style: italic;
}
section[data-testid='stSidebar'] button[kind='primary'] {
    background: #d5330e;
    color: white;
    font-size: 1.25em;
}
section[data-testid='stSidebar'] button[kind='primary']:focus:not(:active) {
    color: white;
}
section[data-testid='stSidebar'] .streamlit-expanderContent button[kind='primary'] {
    background: white;
    color: black;
    font-size: 1em;
}
section[data-testid='stSidebar'] .streamlit-expanderContent button[kind='primary']:focus:not(:active) {
    color: red;
}
.nan-check, .overange-check, .irv-check, .frozen-check {
    display: inline-block;
    width: 24px;
    text-align: center;
    border: 1px solid rgba(38, 39, 48, 0.2)
}
.pt-30 {
    padding-top: 30px;
}
.no-mp-data {
  text-align: center;
  color: rgb(169 206 241);
  font-style: italic;
  font-weight: 500;
  text-shadow: 1px 1px #ccc;
  padding: 0;
  margin: 0;
}

/*
#MainMenu {
	visibility: hidden;
}

footer {
	visibility: hidden;
}

header {
	visibility: hidden;
}
*/
